@import 'bootswatch/lumen/variables';
@import 'bootstrap';
@import 'bootswatch/lumen/bootswatch';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.container.container-main {
  margin-top: 70px;
}

.small-container {
  max-width: 500px;
  margin: 0 auto;
}

.login-container {
  max-width: 500px;
  margin: 100px auto;
}

.alert-secondary {
  color: #222 !important;
  background-color: #f0f0f0;
  border-color: #e3e3e3;
}
