@import 'bootswatch/lux/variables';
@import 'bootstrap';
@import 'bootswatch/lux/bootswatch';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'components/*';

.container.container-main {
  margin-top: 120px;
}

.small-container {
  max-width: 500px;
  margin: 0 auto;
}
